@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
    --form-color:#3058a6b3;
    --light-color:#859fd320;
}

div label {
  color: var(--primary-color);
}

.container {
  display: flex;
}


form{
 margin-top: 2rem;
}
.container{
  margin: 1rem;
}
.form-news{
  padding: 0 25px 25px;
  background-color: var(--light-color);
  width: 80vw;
}

button.btn-news {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

button.btn-news:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color)
}

p.card-text{
  display: -webkit-box;          
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;       
  overflow: hidden;              
  text-overflow: ellipsis;     
}