.editor-container {
  max-width: 70vw;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.ql-container {
  flex-grow: 1; /* Permite que el editor crezca */
  overflow-y: auto; /* Agrega scroll si el contenido es grande */
  font-size: 1rem;
}

.ql-editor {
  min-height: 100px; /* Altura mínima */
  max-height: 500px; /* Máxima altura antes del scroll */
  overflow-y: auto; /* Scroll si hay mucho contenido */
}
