.form-btn {
  display: flex;
  justify-content: center;
}

.form-btn button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
}

input#floatingInput {
  width: 350px;
}

.form-btn button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

a.dropdown-item:hover {
  background: var(--form-color);
  color: var(--background-color);
}