@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
}

.home {
  display: flex;
  flex-direction: column;
  gap: 2em;

  background-color: #222;
}

.logo {
  width: 50%;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-item{
  display: flex;
  justify-content: center;
}

.carousel.slide{
  width: 500px;
}

.carousel-caption {
  color: #222;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  place-self: center;
  gap: 2%;

  width: 80%;
}
