@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
    --form-color:#3058a6b3;
}

.filter-container{
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 120px;
    background-color: var(--background-color);
}

.filter{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    align-items: center;
    background: rgb(16,37,80);
    background: linear-gradient(0deg, rgba(16,37,80,1) 0%, rgba(48,88,166,1) 100%);
    height: 500px;
    width: 700px;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(16,37,80,0.29);
    -moz-box-shadow: 0px 0px 30px 10px rgba(16,37,80,0.29);
    box-shadow: 0px 0px 30px 10px rgba(16,37,80,0.29);
}
.filter h1{
  color: var(--background-color);
  font-weight: bold;
  font-size: 2rem;
}

.inputs-filter {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 30px;
}

.inputs-filter div {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}
div label {
  flex: 1; 
  margin-right: 10px; 
  color: var(--background-color); 
  white-space: nowrap;
}

button.btn-form{
  cursor: pointer;
  color:var(--primary-color);
  font-size: 1.2rem;
  padding: 0 30px;
  border-radius: 10px;
  font-weight: 600;
  border: none;

}
.btn-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}