@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
    --form-color:#3058a6b3;
}

.filter-container{
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 120px;
    background-color: var(--background-color);
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--form-color);
    height: 500px;
    width: 700px;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.29);
}