@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
     
    --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #D9D9D9;
    --third-color: #BE9A60;
}

.nav-cont{
    display: flex;
}

.navbar{
    background-color: var(--background-color);
    border-bottom: 1px solid var(--third-color);
}
nav.navbar.navbar-expand.navbar-light {
    padding: 0;
    justify-content: center;
}
.navbar .container{
   margin: 0;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
Nav .link-nav {
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: 8px;
    text-decoration: none;
    margin: 20px;
    border-radius: 10px;
}

a.link-nav.nav-link:hover{

    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 10px;
}

nav.bg-navbar.fixed-top.navbar.navbar-expand-lg.navbar-light {
    justify-content: center;
    padding: 0;
}


.logo {
  width: 40%;
}


