.nav-cont {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 6.5vh;
}

.navbar {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--third-color);
  height: 10vh;
}

nav.navbar.navbar-expand.navbar-light {
  padding: 0;
  justify-content: center;
}

.navbar .container {
  margin: 0;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

Nav .link-nav {
  color: var(--primary-color);
  font-size: 1.3rem;
  padding: 8px;
  text-decoration: none;
  margin: 20px;
  border-radius: 10px;
}

.nav-link {
  display: flex !important;
  flex-direction: row;
}

a.nav-link {
  padding-left: 1rem;
}

a.link-nav.nav-link:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  padding-left: 1rem;
}

nav.bg-navbar.fixed-top.navbar.navbar-expand-lg.navbar-light {
  justify-content: center;
  padding: 0;
}

.logo {
  height: 10vh;
}

.navbar-nav {
  background-color: #fff;
  border-bottom-left-radius: 1rem;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    align-items: center;
    background-color: #fff;
  }
}

@media (min-width: 576px) and (max-width: 750px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    font-size: 0.5rem !important;
    padding: 2px;
    margin: 5px;
  }
}

@media (min-width: 750px) and (max-width: 850px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    font-size: 0.7rem !important;
    padding: 2px;
    margin: 5px;
  }
}

/* Solo mostrar el nombre en pantallas grandes */
@media (max-width: 576px) {
  .user-info .user-name {
    display: none;
  }
  .logo {
    height: 8vh;
  }
}
