@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --background-color: #ffffff;
  --primary-color: #102550;
  --secondary-color: #e4e1e163;
  --third-color: #BE9A60;
  --form-color: #3058a6b3;
  --light-color: #859fd320;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regulations-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%; 
  overflow: auto; 
}

.table {
  width: 100%;
  --bs-table-bg: var(--light-color) !important;
}

.table-responsive {
  width: 100%; 
  overflow-x: auto; 
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.td-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.table th {
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;

  width: 0%;
}

.table-result {
  th {
    background-color: var(--bs-table-bg) !important;
    color: var(--primary-color) !important;
    font-weight: 800;
    border-bottom-width: var(--form-color) !important;
    border-style: solid var(--form-color) !important;
  }
}
table.table {
  margin: auto;
}

.words {
  color: var(--form-color) !important;
  font-weight: 700;
}

th {
  background-color: var(--form-color) !important;
  color: var(--primary-color) !important;
  font-weight: 800;
  border-bottom-width: var(--form-color) !important;
  border-style: solid var(--form-color) !important;
}

.th-input {
  display: flex;
  flex-direction: row
}

.title-text {
  color: var(--form-color) !important;
  font-size: 1.7rem !important;
  font-weight: 900 !important;
  text-shadow: 5px 5px 5px rgba(0, 34, 255, 0.24);
  -webkit-text-stroke: 1px rgba(7, 19, 182, 0.249);
}

.modal-header {
  flex-direction: column;
  align-items: center;
}

.modal-title.h4 {
  color: var(--primary-color);
  font-weight: bold;
}

div button.btn.btn-primary {
  margin: 15px;
}

.btn-savechange {
  display: flex;
  justify-content: center;
}
button.btn.btn-primary{
  
  border: none;
}




button.pdf-btn.btn.btn-primary{
  background-color: red;
}