.cont-details-modifications {
  display: flex;
  flex-wrap: wrap;
}

.container-modifications {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  padding: 0.3rem;
  max-height: 29rem;
  overflow-y: auto;

  border-radius: 8px;
}

.container-details {
  gap: .8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--form-background-color);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 45vw;
}

.container-details p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.details-text-container {
  display: flex;
  gap: 10px;
}

.cont-details-modifications {
  display: flex;
  flex-wrap: wrap;
}

.content-page-container {
  flex: 1;
  min-width: 300px; /* Para que los contenedores no se hagan demasiado pequeños */
}

/* Para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .cont-details-modifications {
    flex-direction: column;
  }

  .container-modifications {
    gap: 0;
  }

  .details-text-container.stacked-field {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .details-text-container.stacked-field p {
    margin-bottom: 5px; /* Espaciado entre el indicativo y el dato */
  }

  .container-details {
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    border-bottom: .1rem solid rgb(136, 136, 136);
    border-top: .1rem solid rgb(136, 136, 136);
    border-radius: 0;

  }
  .cont-details-modifications .keywords {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .cont-details-modifications .keywords p {
    margin-bottom: 0px;
  }
}
