@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
}

.container-forms {
  display: flex;
  width: max-content;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: max-content;
  padding: 2%;
  margin: 2%;

  border: #BE9A60 2px solid;
  border-radius: 10px;
}