.banner {
  display: flex;
  margin-top: 100px;
}

.carousel {
  display: flex;
  margin-top: 100px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.carousel.slide {
  width: 100vw;
  margin: 0;
  margin-top: 20px !important;
}

.carousel-indicators > button.active {
  background-color: #102550;
}

.carousel-item {
  display: none;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-item > img {
  width: 100dvb;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out; /* Suaviza los cambios en escala o posición */
}

span.carousel-control-next-icon {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
}

span.carousel-control-prev-icon {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
}

@media screen and (max-height: 1100px) {
  /* Tus estilos aquí */
  body {
    font-size: 14px;
  }
}

@media screen and (max-height: 1100px) {
  .banner {
    display: flex;
    margin-top: 160px;
  }
}
