.banner {
  display: flex;
  margin-top: 100px;
}

.bannerCM {
  display: flex;
  width: 50vw;
}

.carousel {
  display: flex;
  margin-top: 100px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.carousel.slide {
  margin: 0;
  width: 100vw;
}

.carousel-indicators > button.active {
  background-color: #102550;
}

.carousel-item.active.carousel-item > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

span.carousel-control-next-icon {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
}

span.carousel-control-prev-icon {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(180deg);
}

@media screen and (max-width: 991px) {
  .bannerCM {
    display: flex;
    width: 70vw;
  }
}
