.bannerCM {
  display: flex;
  width: 50vw;
}

.carousel-item.active.carousel-item > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .bannerCM {
    display: flex;
    width: 70vw;
  }
}
