.footer {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    height: 2rem;
    border-top: 1px solid var(--primary-color);
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  .page-container {
    min-height: 100vh; /* 🔹 Mantiene la altura mínima en dispositivos pequeños */
  }
  
  .content {
    flex-grow: 1;
  }

  .footer {
    position: relative; /* 🔹 Evita que se superponga con contenido corto */
  }
}

.footer p {
  margin: 0;
  color: var(--background-color);
}

