.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-top: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.footer p {
  margin: 0;
  color: var(--background-color);
}
