.desc {

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;
}

.quill {
  background-color: #fff;
}

@media (max-width: 930px) {
  .desc {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}