div label {
  color: var(--primary-color);
}

.container {
  display: flex;
}

form {
  margin-top: 2rem;
}

.container {
  margin: 1rem;
}

.form-register {
  padding: 0 25px 25px;
  background-color: var(--form-background-color);
  border-radius: 0.75vw;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button.btn-news {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

button.btn-news:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.register-container h1 {
  margin: 10px 65px;
}

.register-btn {
  margin-top: 15px;
}
