button.btn-banner {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

button.btn-see-more:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
