@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
     --form-color:#3058a6b3;
}

.modal-background{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerModal{
background: rgb(202, 202, 202);
background: linear-gradient(90deg, rgb(64, 58, 180) 0%, rgb(233, 233, 233) 50%, rgb(192, 152, 95) 100%);
display: flex;
flex-direction: column;
padding: 20px;
color: var(--background-color);
border-radius: 10px;
box-shadow:2px 2px 4px var(--background-color);
}
.title-close{
    display: flex;
  gap: 50px;
  padding:0 0 30px 30px;
  text-shadow: 2px 2px 4px var(--color-primary);
  justify-content: space-between;
}
.btnClose{
  border: none;
  font-size: 25px;
  background-color: transparent;
  display: flex;
}

.btnClose svg:hover{
  transform: scale3d(2, 2, 2);
}


.title {
    flex-grow: 1; 
    text-align: center; 
    color: var(--primary-color);
}

.title h1{
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary-color); 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

