@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
    --primary-color: #102550;
    --secondary-color: #e4e1e163;
    --third-color: #BE9A60;
}

.social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  margin: 1%;
  padding: 1%;
  border: var(--primary-color) 2px solid;
  border-radius: 10px;
  background-color: var(--secondary-color);
  gap: 10px;
}

.social-media{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color); 
  padding: 10px;
  z-index: 1000;
}

.icon {
  font-size: 2rem;
  color: var(--background-color);
  margin: 10px 0;
  transition: color 0.3s ease;
}

svg:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: .3s;
}
