@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

:root {
  --background-color: #ffffff;
  --primary-color: #102550;
  --secondary-color: #e4e1e163;
  --third-color: #BE9A60;
  --form-color: #3058a6b3;
  --light-color: #859fd320;
}



.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cards {
  gap: 4rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

button.btn-see-more {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

button.btn-see-more:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color)
}

.limited-text {
  display: -webkit-box;          
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;       
  overflow: hidden;              
  text-overflow: ellipsis;     
}


.title-news {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  font-size: 3rem;
  background-color: var(--light-color);
  color: var(--primary-color);
  margin-top: 15px;
}

.title-news p{
margin: 0;
font-weight: bold;
}


.card-body {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
  background-color: var(--light-color);
}

.button-container {
  display: flex; 
  justify-content: center; 
}

p.limited-text.card-text{
  color: black;
}
.card-title.h5{
color: var(--primary-color);
font-weight: 700;
margin-bottom: 20px;
}  

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/*COMPONENTE SEE NEW*/
.container-seeNew{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 120px auto 150px;
  overflow: hidden;
  padding: 15px;
  background-color: var(--light-color);
}
.container-photo {
  display: flex;
  justify-content: center;
  width: 100%; 
}
.container-allNew{
  padding: 25px;
  display: flex;
  flex-direction: column;
  
  width: 80vw;
  height: auto;
  overflow: hidden;
}

.title-new{
  color: var(--primary-color);
}

.text-new {
  overflow-wrap: break-word; 
}
